# --- React / Node ---
node_modules/
build/
dist/
.npm/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log

# --- VS Code ---
.vscode/
*.code-workspace

# --- .NET / C# ---
bin/
obj/
*.user
*.suo
*.cache
*.dbmdl
*.bak
*.backup
*.log
*.pdb
*.Publish.xml
appsettings.*.json

# --- Temporary files ---
Thumbs.db
ehthumbs.db
Desktop.ini
